.about-us-section {
    margin-top: 6.2125rem;
    display: flex;
    justify-content: center;
    gap: 5.0625rem;
    margin: 6.3125rem 3.125rem 9.8125rem 3.125rem;
}

.about-us-section img {
    width: 50.06vw;
}

.about-us-section .text-content {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.about-us-section .text-content h2 {
    font-family: 'Crimson Text', serif;
    font-size: 48px;
    letter-spacing: -0.01em;
    font-weight: 400;
    position: relative;
    right: 12px;
}

.service-info {
    display: flex;
    gap: 1.5625rem;
    align-items: flex-start;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    max-width: 72px;
    max-height: 72px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    top: 5px;
}

.text-service-info h3 {
    font-family: 'Crimson Text', serif;
    font-size: 1.625rem;
    font-weight: 400;
}

.text-service-info p {
    font-size: 0.875rem;
    font-weight: 300;
    color: #3D3D3D;
}

@media (max-width: 1133px) {
    .about-us-section {
        flex-direction: column;
        align-items: center;
    }

    .about-us-section img {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    .about-us-section {
        gap: 3.19rem;
        margin-top: 4.8rem;
        margin: 4.8rem 2rem 9.8125rem 2rem;
    }
    
    .about-us-section img {
        width: 84.54vw;
    }
    
    .about-us-section .text-content h2 {
        font-size: 1.875rem;
    }

    .service-info {
        align-items: center;
    }

    .text-service-info h3 {
        font-size: 1.41rem;
        padding-bottom: 5px;
    }

    .text-service-info p {
        font-size: 15px;
    }
}