.discover-section {
    margin-top: 5.125rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6.19rem;
}

.discover-section .text-content {
    display: flex;
    flex-direction: column;
    width: 43.4vw;
    margin-left: 3rem;
}

.discover-section .text-content h1 {
    font-family: 'Crimson Text', serif;
    font-size: 4.75rem;
    font-weight: 400;
    line-height: 91.7%;
    letter-spacing: -0.01em;
    color: #0F214F;
    margin-bottom: 1.8rem;
}

.discover-section .text-content p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 2.125rem;
    color: #3D3D3D;
}

.place-search {
    padding: 0.8rem 1.7rem 0.8rem 1.69rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.21);
    border-radius: 100px;
    position: relative;
    right: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.place-search input {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    color: #FBB667;
    /* flex-grow: 1; */
    width: 70%;
}

.place-search input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.search-btn {
    padding: 0.69rem 3.63rem;
    background: #FBB667;
    border-radius: 100px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
}

.search-btn:hover {
    background-color: #fda138;
}

.discover-section img {
    max-width: 674.17px;
    max-height: 575.67px;
    min-width: 350px;
    min-height: 298px;
    width: 47.98vw;
}

@media (max-width: 1215px) {
    .discover-section {
        gap: 3rem;
    }
}

@media (max-width: 1135px) {
    .discover-section {
        flex-direction: column-reverse;
    }

    .discover-section .text-content {
        width: 80vw;
        align-items: center;
        margin-left: 0px;
    }

    .place-search {
        width: 70vw;
        right: 0px;
    }
}

@media (max-width: 768px) {
    .discover-section img {
        width: 57vw;
    }

    .discover-section .text-content {
        width: 80vw;
    }

    .discover-section .text-content h1 {
        font-size: 1.875rem;
    }
    
    .discover-section .text-content p {
        font-size: 0.94rem;
    }

    .place-search {
        width: 75vw;
        padding: 0.56rem 1.7rem 0.56rem 1.69rem;
        gap: 20px;
    }

    .place-search input {
        font-size: 0.94rem;
    }

    .search-btn {
        padding: 0.25rem 1.56rem;
        font-size: 1.125rem;
    }
}